@import "tailwindcss";

@theme {
  /* Fonts */
  --font-intidinamis: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-xxs: 0.625rem;

  /* Colors */
  --color-intidinamis-ff3b30: #ff3b30;
  --color-intidinamis-ff5c52: #ff5c52;
  --color-intidinamis-d93228: #d93228;
  --color-intidinamis-c8a2c8: #c8a2c8;
  --color-intidinamis-8a2be2: #8a2be2;
  --color-intidinamis-4b0082: #4b0082;
  --color-intidinamis-f5f5f5: #f5f5f5;
  --color-intidinamis-e0e0e0: #e0e0e0;
  --color-intidinamis-9e9e9e: #9e9e9e;
  --color-intidinamis-616161: #616161;
  --color-intidinamis-212121: #212121;
}

/* Remove scroll bar for the entire app */
@layer base {
  * {
    @apply [scrollbar-width:none] [-ms-overflow-style:none];
  }

  *::-webkit-scrollbar {
    @apply hidden;
  }
}

body {
  font-family: var(--font-intidinamis);
}
